<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acerca de</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <header>
        <h1>Practica del Tema 2 - DIW</h1>
        <h2>Bienvenido a mi sito web en el cual aplicamos Accesibilidad</h2>
    </header>
    <nav>
        <a href="/index.html">inicio</a>
        <a href="/templates/about.html">acerca de</a>
        <a href="/templates/contact.html">contacto</a>
    </nav>
    <center><section class="definition">
        <h2>La Accesibilidad a la web: </h2>
        <p>La accesibilidad web tiene como objetivo lograr que las páginas web sean utilizables por el máximo número de personas, independientemente de sus conocimientos o capacidades personales e independientemente de las características técnicas del equipo utilizado para acceder a la Web.

            La necesidad de que la Web sea universal y accesible por cualquier persona está presente desde el principio de la Web, ya que era un requisito contemplado en su diseño por su creador Tim Berners-Lee:
            
            The power of the Web is in its universality. Access by everyone regardless of disability is an essential aspect.
            
            El poder de la Web está en su universalidad. El acceso por cualquier persona, independientemente de la discapacidad que presente es un aspecto esencial.</p>
    </section></center>
    <footer>
        <h2>Correo eletrónico:diegoalonso@tuniversformacion.com </h2>
        <h2>Teléfono: 6969696969</h2>
    </footer>
</body>
</html>